.container{
  padding: 64px 0px;
  font-size: 32px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/* BUTTONS */
span{
  color: red;
  font-weight: 600;
  
}

/* Trade */

.tradeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;

  margin-bottom: 72px;
}
.Calculation{
  min-width: 140px;
  padding: 10px 20px;
}


/* Past trades */

.past-trade{
  background-color: #bbb;
}
.list-group-item{
  background-color: #bbb;
}
.list-group-item span{
  margin:0 20px;
  font-weight: 600;
  color: black;
}


/* Navigation */
/* UserInfo */
.user-info{
  font-size: 20px;

  margin-left: auto;
  margin-right: 160px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.user-info__name{
  margin-left: 10px;
  font-size: 30px;
  
}
.user-info__text{
  margin-right: 40px;
}
.user-info__wallet{
  margin-left: 10px;
   font-size: 40px;
   
}
.user-info__wallet--USD{
  color: green;
}
.user-info__wallet--GBP{
  color: red;
}