button {
  font-size: 20px;
}
body {
  color: #333;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.link {
  text-decoration: none;
  color: rgb(0, 119, 255);
}

.link:hover {
  color: rgb(73, 73, 233);
  transition: all 0.25s;
}

.nav-link:link,
.nav-link:visited {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(157, 204, 223, 0.637);
}

.wrapper {
  width: 320px;
}

@media screen and (min-width: 500px) {
  .wrapper {
    width: 460px;
  }
}

@media screen and (min-width: 800px) {
  .wrapper {
    width: 640px;
  }
}
