* {
  font-size: 1.8rem;
}

html {
  /* This defines what 1rem is */
   font-size: 100%
   /* 1 rem = 16px */
}
button{
  font-size: 20px;
}
body {
  

  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 1000px){
    html {
  /* This defines what 1rem is */
   font-size: 90%
   /* 1 rem = 16px */

  }
}

@media (max-width: 768px){
    html {
  /* This defines what 1rem is */
   font-size: 75%
   /* 1 rem = 16px */

  }
}
@media (max-width: 500px){
    html {
  /* This defines what 1rem is */
   font-size: 65%
   /* 1 rem = 16px */

  }
}

@media (max-width: 400px){
    html {
  /* This defines what 1rem is */
   font-size: 60%
   /* 1 rem = 16px */

  }
}
